{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>House Booking</title>

    <!-- Load favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />

    <!-- Include your CSS files here -->
    <link
      rel="preload"
      as="style"
      type="text/css"
      href="{% static 'css/style.css' %}"
      onload="this.rel = 'stylesheet'"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <div class="logo">
      <img src="{% static 'img/logo.png' %}" />
    </div>

    <div class="dashboard">
      <section>
      <ul class="dashboard-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">Saved Houses</a></li>
          <li><a href="#">Search Houses</a></li> 
          <li><a href="#">Logout</a></li>
      </ul>
    </section>
    </div>

    <main>
       <!-- Begin block content --> 
        {% block content %}
      <!-- End block content --> 
        {% endblock %} 
       </div>
    </main>

  </body>
</html>
