{% extends "base_generic.html" %}

{% block content %}
  <h1>House name: {{ house.name }}</h1>

  <p><strong>Agent name:</strong> {{ house.landlord }}</a></p>
  <p><strong>Agent Contact:</strong> {{ house.landlord.phone_number }}</p>
  <p><strong>Address:</strong> {{ house.address }}</p>
  <p><strong>City:</strong> {{ house.city_id }}</p>
  <p><strong>State:</strong> {{ house.state_id }}</p>
  <p><strong>Amenities:</strong> {{ house.amenities.all|join:", " }}</p>
  <p><strong>Number of beds:</strong> {{ house.number_of_beds }}</p>
  <p><strong>Number of bathrooms:</strong> {{ house.number_of_bath }}</p>
  <p><strong>Pets allowed:</strong> {{ house.pet_allowed }}</p>
  <p><strong>Smoking allowed:</strong> {{ house.smoking_allowed }}</p>
  <p><strong>Description:</strong> {{ house.description }}</p>


  <div>
    <h4>Pictures</h4>
    {% if images %}
    <ul>
    {% for image in images %}
      <li>
        <img src="{{ image.upload_pictures.url }}" alt="{{ image.title }}">
        <h5>{{ image.title }}</h5>
      </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No images have been uploaded yet.</p>
    {% endif %}
{% endblock %}

