body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    /* margin-bottom: 0;
    padding-bottom: 3rem;
    overflow-x: hidden; */
}

.about {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 1rem;
    min-height: calc(100vh - 160px); /* Adjust the value to leave space for the header and footer */
    box-sizing: border-box;
  }

.container {
    margin-top: 2rem;
    margin-bottom: 3rem; /* Adjust the value as needed */
    /* overflow-y: auto;
    height: 100%; */
}

.container h2 {
    align-items: center;
    text-align: center;
    color: #6fd377;
    font-size: 4rem;
}

.form-container {
    max-height: 400px; /* Adjust the value as needed */
    overflow-y: auto;
}

.team {
    display: flex;
    justify-content: center;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #6fd377;
    padding: 1rem;
}

.member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.member h3 {
    font-size: 1.5rem;
    color: #6fd377;
    text-align: center;
    font-weight: bolder;
}

.member h5 {
    font-size: 1.2rem;
    color: #6fd377;
    text-align: center;
}

.member p {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}
  
.social-media a {
    margin: 0 0.5rem;
}
  
.social-media i {
    font-size: 1.5rem;
    color: #6fd377;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
    letter-spacing: 2px;;
}

h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    color: #333333;
    margin:1rem 0;
}

p, ul{
    font-size: 1.25rem;;
}

a {
    color: #EE9972;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    display: flex;
    flex: 0 0 25%;
    max-width: 100%;
    height: auto;
    margin-right: 20px;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: auto; */
}

.dashboard {
    display: flex;
    height: 100%;
}

.dashboard section {
    background-color: #6fd377;
    width: 20%;
    
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1rem;
    text-align: left;
    padding-inline-start: 0rem;
    height: 100%;
    padding-left: 2rem;
}

.dashboard-nav li {
    padding: 0.5rem;
    font-size: 1.15rem;
}

.dashboard-nav a {
    color: #EDEFEE;
    text-decoration: none;
}

.dashboard-nav a:active {
    text-decoration: underline;
}

.dashboard-nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

nav {
    flex: 1;
    background-color: #6fd377;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    /* margin-bottom: 0px; */
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    text-align: right;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

#carousel-container img {
    width: 1500px;
    height: 500px;
}

.home h1 {
    color: #6fd377;
    text-align: center;
}

.home h2 {
    color: #6fd377;
    text-align: center;
    font-size: 5rem;
    margin: 2rem;
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    font-style: italic;
}

.home p {
    color: #6fd377;
    text-align: center;
    font-style: italic;
}

.home {
    text-align: center;
}

.home-users h3 {
    color: #6fd377;
    text-align: center;
    font-size: 3rem;
}

.home-users {
    display: inline-block;
    margin: 20px;
}
.home-users img {
    display: block;
    margin: 0 auto;
}

.home-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15rem;
}

.href {
    display: flex;
    flex-direction: column;
    background-color: #6fd377;
    align-items: center;
    border: 2px solid #6fd377;
    padding: 1rem;
}

.href a {
    font-size: 1.2rem;
    color: #EDEFEE;
    font-weight: bolder;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #c7f3a9;
  padding: 10px;
  border: 1px solid #ccc;
}

.dropdown-menu li {
  display: block;
  margin: 5px 0;
}

.dropdown-menu li a {
  color: #2a8a53;
  text-decoration: none;
}

section {
    display: flex;
    gap: 0.5rem;
    margin-top: -5rem;
    margin-bottom: -4rem;
    flex-direction: row;
}

article {
    flex:1;
}

article img {
    max-width: 100%;
}

article ul {
    list-style: none;
}

main article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
}

#button {
    padding: .5rem 1rem;
    border: 1px solid #495E57;
    background-color:#495E57;;
    border-radius: 5px;
    width: 80%;
    font-size: 1.25rem;
    display: block;
    color: #fff;
    line-height: 25px;
  }


footer {
    background-color: #6fd377;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    position: bottom;
    bottom: 0;
    left: 0;
    right: 0;
}
  

footer p {
    border-top: #333333 solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
}

footer .team-members {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 1rem; /* Add some spacing between the header and paragraphs */
}
  
footer .team-members h3 {
    margin-bottom: 0.5rem; /* Add spacing between the header and paragraphs */
}
  
footer .team-members p {
    margin: 0; /* Reset margin to remove default spacing */
}
  
footer .rights-reserved p {
    margin: 0; /* Reset margin to remove default spacing */
    text-align: center;
}

footer .fsocial-media {
    display: flex;
    justify-content: center;
}

footer .fsocial-media h3 {
    text-align: center;
}
  
footer .fsocial-media a {
    color: #ffffff;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}
  
footer .fsocial-media a:hover {
    color: #e8e8e8;
}

@media (max-width: 800px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    #button{
        width: 100%;
    }
  }